<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Flipmedia_AddEmailColumn>
            <version>1.0.0</version>
        </Flipmedia_AddEmailColumn>
    </modules>
    <global>
        <resources>
            <!-- initialize sql upgrade setup -->
            <Flipmedia_AddEmailColumn_setup>
                <setup>
                    <module>Flipmedia_AddEmailColumn</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </Flipmedia_AddEmailColumn_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
             <!-- layout upgrade configuration -->
            <updates>
                <Flipmedia_AddEmailColumn>
                    <file>Flipmedia_AddEmailColumn.xml</file>
                </Flipmedia_AddEmailColumn>
            </updates>
        </layout>
    </adminhtml>
</config>